*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header {
    height: 115px;
    width: 100%;
    background: linear-gradient(to left, #034755 , #5c2a2a);
    position: absolute;
    top: 0;
    left: 0;
}

#logo {
    position: absolute;
    top: 15px;
    left: 15px;

    height: 65px;
    width: 65px;
    border-radius: 50%;
}

h1 {
    text-align: start;
    color: white;
    font-family: calibri;
    font-weight: 300;
    font-size: 26px;
    position: absolute;
    left: 110px;
    margin-top: 10px;
}

h5 {
    text-align: start;
    color: white;
    font-family: calibri;
    font-weight: 300;
    position: relative;
    left: 110px;
    top: 45px;
}

h2 {
    text-align: start;
    color: white;
    font-family: calibri;
    font-weight: 300;
    font-size: 22px;
    position: relative;
    left: 110px;
    top: 60px;
}

.contact {
    color: green;
    position: absolute;
    left: 850px;
    top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.contact2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 850px;
    top: 42px;
}

.line {
    width: 2px;
    height: 50px;
    background-color: gray;
    position: absolute;
    top: -14px;
    right: 78px;
}

.homeicone {
    position: relative;
    left: 1300px;
}

.home {
    position: relative;
    bottom: 3px;
    left: 6px;
}

.hom {
    position: absolute;
    left: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
}

.card {
    height: 440px;
    width: 425px;
    border: 2px solid grey;
    margin-top: 150px;
    border-radius: 17px;
    background-color: pink;
}


.admit {
    height: 55px;
    width: 426px;
    background-color: #034755;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1{
    position: relative;
    top: 35px;
    left: 34px;
    background-color: #585a5d;
    color: white;
    height: 40px;
    width: 350px;
    border-radius: 15px;
    border: none;
    font-weight: bolder;

}

.button1:hover{
    color: black;
    background-color: rgba(0, 128, 0, 0.498);
    box-shadow: 2px 2px 12px black;
}

a{
    text-decoration: none;
    color: white;
}

.help {
    height: 55px;
    width: 426px;
    background-color: #034755;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
    border-radius: 15px 15px 0 0;
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.pets{
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to right,rgba(255, 0, 0, 0.29),rgba(0, 0, 255, 0.186));
    height: 700px;
    width: 100%;
}

.bu1 {
    position: relative;
    top: 1px;
    left: 34px;
    background-color: #a28b47;
    color: white;
    height: 40px;
    width: 350px;
    border-radius: 15px;
    border: none;
    font-weight: bolder;
}


.bu2 {
    position: relative;
    top: 8px;
    left: 34px;
    background-color: #a28b47;
    color: white;
    height: 40px;
    width: 350px;
    border-radius: 15px;
    border: none;
    font-weight: bolder;
}

.bu1:hover {
    color: black;
    background-color: rgba(0, 128, 0, 0.498);
    box-shadow: 2px 2px 12px black;
}

.bu2:hover {
    color: black;
    background-color: rgba(0, 128, 0, 0.531);
    box-shadow: 2px 2px 12px black;
}

footer {
    text-align: center;
    background-color: #034755;
    height: 70px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

footer p{
    color: white;
    font-family: monospace;
    font-weight: 400;
    margin: 0;
    padding-top: 10px;
}